@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  background-color: rgb(250, 244, 242);
}
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: rgb(210, 211, 212);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(231, 111, 81);
  /* background: rgb(126, 126, 126); */

  border-radius: 20px;
}
#home {
  background: linear-gradient(rgba(59, 55, 53, 0.5), rgba(59, 55, 53, 0.5)),
    url("../assets/background.jpg");
  border-radius: 0 0 100px 100px;
  background-size: cover;
}

@media screen and (max-width: 600px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header_left {
    display: none;
  }
  .logo {
    margin-right: auto;
    display: block;
  }
  .header_right {
    float: right;
    margin-left: auto;
  }
  .header_right .btn_signUp {
    display: none;
  }
}

.header {
  padding: 30px 10vw 0px 10vw;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  overflow: hidden;
}

.logo {
  cursor: pointer;
  margin-right: 30px;
}
.header_left {
  margin-right: auto;
}
.header_left {
  list-style: none;
}
.header_left li {
  display: inline;
  padding: 0px 10px;
  font-family: "Roboto", sans-serif;
}

.header_left li a {
  transition: all 0.5s ease 0.2s;
  text-decoration: none;
  color: rgb(210, 210, 210);
  outline: none;
}
.header_left li a:hover {
  transition: all 0.5s ease 0s;
  color: white;
}
.active {
  transition: all 0.5s ease 0s;
  color: white;
}

.header_right button {
  font-family: "Roboto", sans-serif;
  padding: 10px 30px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease 0.2s;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 500;
  outline: none;
  /* float: right; */
}
.btn_signUp button {
  border: none;
}
.btn_signUp button:hover {
  color: rgb(231, 111, 81);
}
.btn_signIn button {
  border: solid white;
  border-width: 1px;
}
.btn_signIn button:hover {
  background-color: rgb(231, 111, 81);
  border-color: rgb(231, 111, 81);
  color: white;
}
section {
  position: relative;
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .content {
  /* position: relative; */
  /* z-index: 1; */
  /* margin: 0 auto; */
  /* max-width: 900px; */
  text-align: center;
  color: white;
  transform: translateY(100px);
}

section .content h1 {
  font-family: "Archivo", sans-serif;
  font-size: 60px;
  font-weight: bold;
  font-size: 4em;
}
section .content p {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
  line-height: 150%;
  font-weight: 500;
  padding: 8% 0%;
  font-size: 0.9em;
}

section .content button {
  font-family: "Roboto", sans-serif;
  background-color: rgb(231, 111, 81);
  cursor: pointer;
  border: none;
  outline: none;
  padding: 10px 40px;
  border-radius: 20px;
  color: white;
}

section .content button:hover {
  background-color: rgb(219, 73, 37);
}

.services {
  display: table;
  margin: 0 auto;
  transform: translateY(90px);
  text-align: center;
  color: rgb(59, 55, 53);
  font-family: "Archivo", sans-serif;
}
.services a {
  text-decoration: none;
  color: rgb(59, 55, 53);
}
.services li {
  display: inline-table;
}
.service_container {
  margin: 20px 10px;
  width: 250px;
  /* height: 20px; */
  border-radius: 5%;
  background: white;
  padding: 40px 20px;
  transition: all 0.3s ease 0.2s;
}

.service_container:hover {
  background-color: rgb(231, 111, 81);
  color: white;
}

.service_img {
  width: auto;
  height: 60px;
}
.service_container h4 {
  padding: 10px 0px;
  font-size: 1.3rem;
}
.service_container p {
  font-size: 0.8rem;
  line-height: 1.2;
}

#divider {
  height: 10%;
  width: 100%;
  padding: 100px;
}

#destination {
  font-family: "Archivo", sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 5%;
}
#destinations_list {
  padding: 5% 5% 5% 5%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#destinations_list li {
  display: inline-table;
  margin: 10px;
}

.destination_container {
  /* padding: 30px; */
  background-color: white;
  border-radius: 10px;
  height: 300px;
  width: 250px;
  display: grid;
  padding: 20px;
  position: relative;
}
.destination_container img {
  height: 130px;
  border-radius: 10px;
}

.like-box {
  background-color: white;
  border-radius: 10px;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 30px;
  right: 40px;
}

.like {
  position: absolute;
  top: 4%;
  right: 6%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background: url("/assets/outline-heart.png") no-repeat;
}

.like-active {
  background: url("/assets/full-heart.png") no-repeat;
}

.destination-price {
  border-radius: 10px;
  background-color: white;
  position: absolute;
  top: 40%;
  left: 27%;
  width: 120px;
  height: 40px;
}

.destination-price h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #e76f51;
  position: absolute;
  top: 30%;
  left: 20%;
  font-size: 1em;
}

.destination_container h1 {
  font-family: "Roboto", sans-serif;

  padding-top: 20px;
  font-size: 1.1em;
}
.destination_container p {
  font-family: "Roboto", sans-serif;
  padding: 10px 0 20px 0;
  font-size: 0.8em;
  font-weight: 100;
  color: #3b3735;
  line-height: 1.5;
}

.destination_container button {
  font-family: "Roboto", sans-serif;
  padding: 10px 30px;
  background-color: rgba(141, 141, 141, 0.1);
  color: rgba(141, 141, 141, 0.7);
  cursor: pointer;
  transition: all 0.3s ease 0.2s;
  border-radius: 50px;
  border-color: transparent;
  font-size: 15px;
  font-weight: 800;
  outline: none;
}

.destination_container button:hover {
  color: rgba(255, 255, 255, 0.8);
  background-color: #e76f51;
}

.btn-viewAll {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 0 18% 0;
}

.btn-viewAll button {
  color: #e76f51;
  border-radius: 50px;
  border-color: #e76f51;
  background-color: transparent;
  border-style: solid;
  width: 150px;
  height: 40px;
}

.btn-viewAll button:hover {
  color: rgba(255, 255, 255, 0.8);
  background-color: #e76f51;
}

.subscribe {
  background-color: #f8e1db;
  height: 250px;
  margin: 0 10% 10% 10%;
  border-radius: 10px;
  position: relative;
}
.subscribe-background {
  height: 100%;
  width: 50%;
}

.subscribe-img {
  height: 90%;
  position: absolute;
  top: 5%;
  right: 10%;
}

.subscribe h1 {
  font-family: "Archivo", sans-serif;
  font-size: 2em;
  font-weight: 900;
  position: absolute;
  top: 23%;
  left: 5%;
}

.subP {
  width: 40%;
  position: absolute;
  top: 40%;
  left: 5%;
}
.subP p {
  font-family: "Archivo", sans-serif;
  font-size: 0.8em;
  letter-spacing: 0.05em;
  line-height: 2em;
}

footer {
  display: flex;
  flex-flow: row wrap;
  padding: 5em 0px 1em 5em;
  background-color: rgb(248, 225, 219);
  border-radius: 100px 100px 0 0;
}

.footer > * {
  flex: 1 100%;
}

.footer__addr {
  margin-right: 8em;
  margin-bottom: 4em;
}

.footer__addr h1 {
  font-family: "Archivo", sans-serif;
  font-weight: 900;
  font-size: 1.2rem;
  margin-bottom: 1em;
}

.footer__addr p {
  font-family: "Roboto", sans-serif;
  margin: 1.3em 0 1.9em 0;
  font-size: 0.9rem;
  font-weight: 100;
  line-height: 1.8em;
}

.nav__title {
  font-family: "Archivo", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
}

.nav__ul a {
  color: black;
}
.nav__ul a:hover {
  color: rgb(231, 111, 81);
}
.legal {
  text-align: center;
  padding-bottom: 2em;
}

.heart {
  color: rgb(231, 111, 81);
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }

  .footer__addr {
    flex: 1 0px;
    margin-right: 5em;
  }

  .footer__nav {
    flex: 2 0px;
  }
}
